[Desktop Entry]
Type=Application
Name=GGMud
GenericName=MUD Client
Encoding=UTF-8
Comment=Play Online Text Games (MUDs/MUSH/MOO...)
Exec=ggmud
Icon=ggmud.png
Categories=Game;Network;
